.header {
  padding-top: 25px;
  padding-bottom: 25px;

  & .container {
    display: flex;
    align-items: center;
  }
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
  margin-left: 93px;

  @media screen and (max-width: 767.98px) {
    display: none;
  }
}

.header-nav__item {
  margin-left: 50px;

  &:first-child {
    margin-left: 0;
  }
}

.header-nav__link {
  position: relative;
  color: $color-black;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $color-logo-blue;
  }

  &.current {
    color: $color-logo-blue;
  }

  &.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $color-logo-blue;
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -38px;

    @media screen and(min-width:1200px) {
      bottom: -34px;
    }
  }
}

.header-contacts {
  margin-left: auto;

  @media screen and (max-width: 767.98px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.header-contacts__item {
  @media screen and (max-width: 1199.98px) {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  @media screen and(min-width:1200px) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.header-contacts__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: $color-grey;
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $color-logo-blue;
  }
}

.header-contacts__icon {
  width: 16px;
  height: 16px;
  fill: $color-grey;
  margin-right: 10px;
  transition: fill 250ms $timing-function;

  .header-contacts__link:hover &,
  .header-contacts__link:focus & {
    fill: $color-logo-blue;
  }
}

.main-hero,
.footer {
  background-color: $color-background-main-footer;
  color: $color-white;
}
