.main-team {
  background-color: $color-backgraund-team;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

// .main-team__container {
//   padding-top: 94px;
//   padding-bottom: 94px;
// }

.main-team__list {
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }
  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}

.main-team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  background-color: $color-backgraund-section;
}

.main-team__title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.185;
  text-align: center;
  letter-spacing: 0.03em;
  color: $color-black;
  margin-top: 30px;
}

.main-team__desc {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 10px;
  color: $color-grey-a;
}

.main-team__socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.main-team__items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-team__itemsoc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-team__link {
  width: 44px;
  height: 44px;
  border: solid inherit;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms $timing-function, color 250ms $timing-function,
    fill 250ms $timing-function;

  &:hover .main-team__icon,
  &:focus .main-team__icon {
    background-color: $color-logo-blue;
    fill: $color-white;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    fill: $color-white;
    background-color: $color-logo-blue;
  }
}

.main-team__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: background-color 250ms $timing-function, fill 250ms $timing-function;

  &:hover,
  &:focus {
    cursor: pointer;
    fill: $color-white;
    background-color: $color-logo-blue;
  }
}
