
body {
    background-color: $color-backgraund-section;
    color: $color-black;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
    margin: 0 auto;
    padding: 0 auto;
    ;
  }
  
