:root {
  --indent: 30px;
  --items:1;
}

/* Text colors */
$color-black: #212121;
$color-grey: #757575;
$color-white: #ffffff;
$color-grey-a: rgba(117, 117, 117, 1);

/* BG colors */
$color-backgraund-html: #f5f5f5;
$color-backgraund-section: #ffffff;
$color-background-main-footer: #2f303a;
$color-backgraund-team: #f5f4fa;

$color-logo-blue: #2196f3;
$icon: #afb1b8;

/* Others */
$btn-radius: 25px;
$indent: 30px;
$items: 3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
