/* Text colors */
$color-black: #212121;
$color-grey: #757575;
$color-white: #FFFFFF;
$color-grey-a: rgba(117, 117, 117, 1);
  
/* BG colors */
$color-backgraund-html: #F5F5F5;
$color-backgraund-section: #FFFFFF;
$color-background-main-footer: #2F303A;
$color-backgraund-team: #F5F4FA;
  
  
$color-logo-blue: #2196F3;
$icon: #afb1b8;
  
/* Others */
$btn-radius: 25px;
$indent: 30px;
$items: 3;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
