






/* .list-item::before {
  display: block;
  content: "";
  height: 120px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

} */

/**
  |============================
  | Card set
  |============================
*/

/*------------------ Стилі для index.html-------------------------------- */

/**
  |============================
  |         HEADER
  |============================
*/



/**
  |============================
  |         HERO
  |============================
*/

/**
  |============================
  |         INFORMATION ABOUT
  |============================
*/

/**
  |============================
  |         BUSY-TEAM
  |============================
*/


/**
  |============================
  |        OUR TEAM
  |============================
*/




/**
  |============================
  |        KLIENTS
  |============================
*/


/**
  |============================
  |        FOOTER
  |============================
*/


/* -------------------Стилі для portfolio.html------------------------------------ */


/**
  |============================
  | BUTTON-FILTR
  |============================
*/


/**
  |============================
  | CARDS
  |============================
*/


/**
  |============================
  | Modal window
  |============================
*/


/**
  |============================
  | Feedback
  |============================
*/

/*==========Форми=======*/
